.pai{
    width: 80%;
    height: 250px;
    background-color: bisque;
    display: flex;
    align-items: center;
    border: solid 3px #000;
    margin: auto
    

}
.bolinha {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: blueviolet;
}